@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,400i,700&display=swap');

.restaurant-details {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    background-color: #fffae2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}

.details-column {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fdf6f6; 
    border-radius: 5px; 
}

.details-column h2, .details-column h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    margin-bottom: 15px;
    color: #007BFF; 
}

.details-column p {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.6;
}


a:hover, button:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .restaurant-details {
        flex-direction: column;
        align-items: center;
    }
    .details-column {
        flex-basis: 100%; /* Full width on smaller screens */
    }
}
